.ff-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: none;
    box-shadow: transparent;
    box-sizing: border-box;
    height: 16px;
    position: absolute;
    right: -50px;
    top: 3px;
    transition: background-color 50ms, opacity 50ms, box-shadow 100ms;
    width: 16px;
    z-index: 9999999;
}

.ff-icon img {
    height: 16px;
    width: 16px;
}

.iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 560px;
    height: 560px;
    z-index:99;
    display: none;
    box-shadow: grey 5px 5px 5px;
    border: 1px solid black;
}
